@import 'tailwindcss';

@theme {
    --color-bg: #121417;
    --color-surface: #1C1F24;
    --color-surface-muted: #2A2D33;
    --color-steel: #3A3F47;
    --color-snow: #F1F3F5;
    --color-smoke: #B0B6BE;
    --color-marine: #6CA8FF;
    --color-violet: #B18CFF;
    --color-lichen: #A3C8FF;
    --color-jade: #4CAF50;
    --color-rose: #F44336;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Geist';
    src: url('./assets/fonts/Geist/Geist-VariableFont_wght.ttf');
}