@import 'tailwindcss';
@import '../../../themes.css';

.auth-form {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.label-input-container {

}

.label-input-container label {
    @apply text-snow;
    font-size: 0.75rem;
}

.label-input-container input {
    font-size: 1rem;
}